<img class="logo" src="https://www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" routerLink="/admin" />
<mat-nav-list>
  <a mat-list-item routerLink="/admin/">
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item routerLink="customers">
    <mat-icon>groups</mat-icon>Customers</a>
  <a mat-list-item routerLink="products">
    <mat-icon>shopping bag</mat-icon>Products</a>
  <a mat-list-item routerLink="orders">
    <mat-icon>list</mat-icon>Orders</a>
  <a mat-list-item routerLink="">
    <mat-icon>snowing</mat-icon>Siteyi Gör</a>
</mat-nav-list>